@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fold-in {
  from {
    opacity: 0;
    transform: perspective(20cm) translateY(60%) rotateX(80deg);
  }

  to {
    opacity: 1;
    transform: perspective(none) translateY(0%) rotateX(0deg);
  }
}

@keyframes move-in {
  from {
    opacity: 0;
    transform: translateY(40%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.cta {
  animation: move-in 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero-text--title {
  animation: fold-in 1s ease-in-out;
  animation-delay: 0.33s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hero-text--header {
  animation: fold-in 1s ease-in-out;
  animation-delay: 0.66s;
  animation-fill-mode: forwards;
  opacity: 0;
}
